{% include "todo/header.html"%}

<!--  <body> -->


    <div class="container">
      {% if next_todo_id != todoID %}
        <h1 class="left-arrow"><a href="{% url 'todo:detail' next_todo_id %}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></h1>
      {% endif %}

      {% if prev_todo_id != todoID %}
        <h1 class="right-arrow"><a href="{% url 'todo:detail' prev_todo_id %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></h1>
      {% endif %}
      <h1 class="text-center"> {{ todo_text }} </h1>
      <br>
      {% if todo_done %}
        Done<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <br><br>
        {% if todo_comment %}
          <p>Comment: {{ todo_comment }}</p>
        {% endif %}
        <a href="{% url 'todo:toggle_done' todoID %}"><button class="btn btn-warning" type="button" name="button">Not done</button></a>
        <br><br>
      {% else %}
        Not done<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <br>
        <form action="{% url 'todo:comment' todoID %}" method="post" autocomplete="off">
          {% csrf_token %}
          <input type="text" name="todo_comment" class="form-control" placeholder="Comment your execution...">
          <input class="btn btn-success" type="submit" value="Done">
        </form>
        <br>
      {% endif %}

      <div class="col-md-4">
        <a href="../"><button class="btn btn-info" type="button" name="button">Back</button></a>
      </div>
      <div class="col-md-4">
          <a href="{% url 'todo:delete' todoID %}"><button class="btn btn-danger" type="button">Delete</button></a>
      </div>
      <div class="col-md-4">
        <a href="{% url 'todo:update' todoID %}"><button class="btn btn-primary" type="button">Update</button></a>
      </div>
    </div>

  </body>
</html>
